.DS_Store
*.log
node_modules
dist
.*/
client/lib/icomoon/demo-files
.idea
client/lib/icomoon/demo-filesicomoon/ie7
client/lib/icomoon/demo.html
client/lib/icomoon/Read Me.txt
client/lib/icomoon/selection.json
client/lib/icomoon/style.css
client/dist
server/settings.js
