///////////////////////////
//
//   TRY TO KEEP THIS FILE AS SMALL AS POSSIBLE! 
//
///////////////////////////

// If you need to style a component or section/part of the page, 
// use dedicated files and import them in style.scss.
// Only use this file for one-off things that are not worthy of
// a separate file. Cross-browser issue fixes should be in a separate file!

////////////////////////
//
//  Link style disabling for links that to not navigate
//
////////////////////////

article.page-careers .contact .join-the-family {
    @include disable-link;
}

.disable-events {
    pointer-events: none;
}

span{
    &.no-break{
        white-space: nowrap;
    }
}

.columns.bullets {
    position: relative;
    left: rem-calc(-5pt);
    padding-left: rem-calc(5pt);
    ul {
        padding-left: rem-calc(24pt);
        li:before {
            content: '∙';
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            font-size: rem-calc(48pt);
            position: relative;
            left: -26px;
            top: rem-calc(2pt);
            width: 11px;
            margin-right: -11px;
            transform: translateX(-45%);
        }
    }
}

@media screen and #{breakpoint(small only)} {
    .columns.bullets ul li:before {
        font-size: rem-calc(40pt);
        top: rem-calc(1pt);
        transform: translateX(-40%);
    }
}