//@import url(https://fonts.googleapis.com/css?family=Poppins:400,600&subset=latin,latin-ext);
@import './fonts';

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    overflow-y: scroll; //prevents horizontal jumping on transitions due to disabling/enabling scroll
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
    -webkit-overflow-scrolling: auto;
}
body {
    position: relative;
    fill: currentColor; //for SVG
    color: $text-color;
    -webkit-overflow-scrolling: auto;
    &.navigating a {
        pointer-events: none;
    }
}
h1 {
    font-weight: $semibold;
    font-size: rem-calc(30pt);
    line-height: rem-calc(40pt);
    color: $text-color;
    header & {
        color: $white;
    }
}
h2 {
    font-size: 1.5em;
}
svg {
    fill: currentColor;
}
a {
    color: $text-color;
    text-decoration: none;
    
    span {
        overflow: visible;
        position: relative;
        transform: translate3d(0, 0, 0);
        
        &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 21%;
            left: 0;
            right: 0;
            height: 0;
            border-bottom: 1px solid $text-color;
            will-change: bottom;
            transition: bottom .2s ease-in;
        }
    }

    &:hover,&:focus {
        color: $text-color;
        outline: 0 none;
        span:after {
            bottom: 8%;
        }
    }
    &:active{
        outline: 0 none;
    }
}

ul, ul li {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.caption {
    font-size: 0.5rem;
    color: #666;
    font-style: italic;
}

@media screen and #{breakpoint(medium down)} {
    h1 {
        font-size: rem-calc(22pt);
        line-height: rem-calc(32pt);
    }

    h3{
        font-size: rem-calc(14pt);        
    }
}

@media screen and #{breakpoint(small only)} {
    h1 {
        font-size: rem-calc(20pt);
        line-height: rem-calc(30pt);
    }
}
