//@import url(https://fonts.googleapis.com/css?family=Poppins:400,600&subset=latin,latin-ext);
@import './fonts';

html {
    overflow-y: scroll; //prevents horizontal jumping on transitions due to disabling/enabling scroll on body
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}

// ::-webkit-scrollbar {
//     display: none;
// }

body { 
    position: relative;
    fill: currentColor; //for SVG
    
    &.navigating a {
        pointer-events: none;
    }
}

h1 {
    font-weight: $semibold;
    font-size: rem-calc(30pt);
    line-height: rem-calc(40pt);
    color: $text-color;
    
    header & {
        color: $white;
    }
}

h2 {
    font-size: 1.5em;
}

svg {
    fill: currentColor;
}

a {
    color: $text-color;
    text-decoration: underline;
    transition: opacity .2s ease-out;

    &:hover, &:focus {
        color: $text-color;
        opacity: .8;
    }
}

#root{
    min-height:100%;
    position: relative;

}