body {
    background: $palette-5; 
    color: $text-color;
}

a {
    color: $palette-3;
    
    &:hover, &:focus, &:active {
        color: lighten($palette-3, 10%);
    }
}

button, input[type=button] {
    background: $palette-1;
    color: white;
    border-width: 1px;
    text-shadow: 1px 1px $text-color;
    border-radius: 8px;
    
    &:focus {
        outline: 0 none;
    }
    
    &:active {
        text-shadow: 0 0 transparent;
    }
}

a.close-page {
    text-decoration: none !important;
    
    i {
        font-size: 36px;
    }
}

//TODO: move this rule to a more appropriate place
.simple-list-row {
    @extend .clearfix;
}

//Gsap temporary styles
.div-ctainer1{    
    height: 700px;
    background-color: yellow;
}
.div-ctainer2{
    height: 700px;
    background-color: orange;
}
.div-ctainer3{    
    height: 700px;
    background-color: aqua;
}
.div-ctainer4{
    height: 400px;
    width:400px;
    background-color: red;
}
.div12{
    background-color: maroon;
    height: 100%;
    width: 200px;
    float: left;
}
.div13{
    margin-top: 300px;
    float: left;
    width: 300px;
    background-color: lightpink;
}
.div14{
    background-color: white;
    width: 100px;
}

#divc4{
     height: 700px;
    background-color: beige;
}
#div41{
    width: 300px;
    height: 300px;
    background-color: yellow;
}

#divc5{
     height: 700px;
    background-color: orange;
}
#div51{
    width: 300px;
    height: 300px;
    background-color: yellow;
}
#divc6{
     height: 700px;
    background-color: beige;
}
#div61{
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.tr1{position: fixed; overflow: visible; white-space: nowrap; pointer-events: none; font-size: 0.85em; z-index: 9999; top: 509.5px; left: 1843px;}
.tr2{position: absolute; overflow: visible; border-width: 1px 0px 0px; border-style: solid; color: blue; border-color: blue; right: 0px;}
.tr3{position: relative; padding: 0px 8px 3px; transform: translateY(-100%);}





