// html, body {
//     height: 100%;
// }

// #root {
//     height: 100%;
// }

// .site-wrapper {
//     min-height: 100%;
//     padding: 50px 0 50px 0; //top = header height, bottom = footer height
//     position: relative;
// }

// header.main-header {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 50px;
//     z-index: 2;
// }

// .site-footer {
//     position: absolute;
//     bottom: 0;
//     height: 50px;
//     width: 100%;
// }
