//site-specific mixins
@mixin disable-link {
    text-decoration: none !important;
    pointer-events: none !important;
    cursor: default !important;
    span:after {
        display: none !important;
    }
}