$text-color: #333;

// //Palette #46 from http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
// $palette-1: #d75c37;
// $palette-2: #67727a;
// $palette-3: #6991ac;
// $palette-4: #c3d7df;
// $palette-5: #f5f5f5;
