.hamburger {
  position: fixed;
  top: 25px;
  z-index: 2;
  @include grid-col-size(3);
  @include grid-col-off(21);
  overflow: hidden;

  > i.close {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: rem-calc(36pt);
    //transition: opacity .2s ease-out;
    transform: translateX(-100%);
    color: $white;
    
    &:hover {
        //opacity: .8;
        cursor: pointer;
    }
  }

  > i.open {
    display: inline-block;
    margin-top: 15px;
    font-size: rem-calc(31.5pt);
    transition: opacity .2s ease-out;
    transform: translateX(-100%);
    color: $white;
    padding: 0 10px;
    
    &:hover {
        //opacity: .8;
        cursor: pointer;
    }
  }
}