#page-container article {
  @include grid-row(24);

  header.main .hamburger {
    display: none !important;
    position: fixed;
    top: 0;
    z-index: 2;
    @include grid-col-size(3);
    @include grid-col-off(21);
    overflow: hidden;
    height: 80px;
    
    > i {
      display: block;
      position: absolute;
      padding: 40px 0 0 0;
      top: 0;
      left: 0;
      width: 50%;
      min-width: 60px;
      font-size: rem-calc(36pt);
      color: $white;
      cursor: pointer;
      transition: opacity .2s ease-out;
      will-change: opacity;
      
      &.open {
        font-size: rem-calc(31.5pt);
        padding-left: 10px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  &.links-hidden {
    header.main .hamburger {
      z-index: 5;
    }
  }
}

@media screen and #{breakpoint(medium only)} {
    
}

@media screen and #{breakpoint(small only)} {
    
}