#page-container article {
  @include grid-row(24);
  header.main .hamburger {
    position: fixed;
    top: 0;
    z-index: 2;
    @include grid-col-size(2);
    @include grid-col-off(21);
    overflow: hidden;
    height: 80px;

    &.active {
      z-index: 5;
    }
    
    > i {
      display: block;
      position: relative;
      padding: 40px 0 0 0;
      top: 0;
      left: 0;
      width: auto;
      min-width: 50px;
      font-size: rem-calc(36pt);
      color: $white;
      cursor: pointer;
      transition: opacity .2s ease-out;
      will-change: opacity, transform;
      
      &.open {
        font-size: rem-calc(31.5pt);
        padding-left: 10px;
      }

      &.close {
        top: -76px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}

@media screen and #{breakpoint(medium down)} {
    #page-container article {
      header.main .hamburger {
          @include grid-col-size(2);

          > i {
            padding-top: rem-calc(20pt);
            text-align: right;
            left: auto;
            right: 0;

            &.close {
              top: -58px;
            }
          }
        }
    }
}

@media screen and #{breakpoint(small only)} {
    #page-container article {
      header.main .hamburger {
          @include grid-col-size(5);
          @include grid-col-off(18);
        }
    }
}