#page-container article.page-contact {
    section.content {
        background: transparent url(../img/photos/map.jpg) right center no-repeat;
        .bold {
            font-weight: $semibold;
        }
        ul {
            li {
                &.social-media {
                        padding-top: rem-calc(22pt);
                        a {
                            display: inline-block;
                            font-size: rem-calc(28pt);
                            margin: 0 20px;

                            &:first-child {
                                margin-left: 0;
                            }

                            &.linkedin:hover { color: #0077B5; }
                            &.facebook:hover { color: #3b5998; }
                            &.twitter:hover { color: #1DA1F2; }
                            &.medium:hover { color: #00AB6C; }
                        }
                    }
            }

            &.center {
                text-align: center;
            }
        }

        form {
            position: relative;

            &.progress-done {
                &:before {
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    z-index: 100;
                    background: rgba(255, 255, 255, .7);
                    color: $text-color;
                    font-size: 80px;
                    text-align: center;
                    padding-top: 40px;

                    font-family: 'new-company-site' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;

                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: $ncs-check;
                }
                &:after {
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    z-index: 101;
                    color: $text-color;
                    text-align: center;
                    padding-top: 140px;
                    font-size: 24px;
                    content: 'Thank you!';
                }
            }

            input[type="text"], input[type="tel"], textarea {
                border: 0 none;
                border-bottom: 2px solid $text-color;
                padding: 5px 10px 5px 0;
                margin: 0;
                box-shadow: none;
                background: transparent;
                font-size: .8rem;
            }
            label[for] {
                font-size: .8rem;
                position: relative;
                top: 30px;
                cursor: text;
                height: 20px;
                transition: top .2s ease-out, font-size .2s ease-out;
            }
            .focus, .has-text {
                label[for] {
                    top: 0;
                    font-size: .6rem;
                }
            }
            footer {
                position: relative; //important!
                padding: 20px 0;
            }
            .field {
                position: relative; //important!
                padding-bottom: 20px;
            }
            h4 {
                //min-height: 75px;
            }
            label.radio {
                cursor: pointer;
                position: relative;
                padding: 6px 0 6px 22px;
                line-height: 28px;
                
                input {
                    position: absolute;
                    margin-left: -9999px;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -10px;
                    height: 16px;
                    width: 16px;
                    border-radius: 8px;
                    border: 2px solid $text-color;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 8px;
                    top: 50%;
                    margin-top: -2px;
                    height: 0;
                    width: 0;
                    border-radius: 5px;
                    background: $text-color;
                    transition: all .2s ease-in;
                }

                &.selected:after {
                    height: 10px;
                    width: 10px;
                    margin-top: -7px;
                    margin-left: -5px;
                }
            }
            &.progress-done label.radio.selected:after {
                margin-top: -2px;
                margin-left: 0;
                height: 0;
                width: 0;
            }
            button {
                width: 100%;
                height: 76px;
                line-height: 76px;
                text-align: middle;
                padding: 0;
                background: $white linear-gradient(45deg, #d6cb26 0%, #68bc45 100%);
                color: $white;
                outline: 0 none !important;

                &[disabled] {
                    background: $white linear-gradient(45deg, #c80786 0%, #ed2f2e 100%);

                    &.done {
                        background: $white linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
                    }
                }
            }
            .error {
                font-size: .6rem;
                color: #ed2f2e;
                overflow: hidden;
                display: block;
                height: 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: height .2s ease-in;
                
                &.hidden {
                    height: 0;
                }

                &.submit {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    .columns {
        overflow: hidden;
    }
}

@media screen and (max-width: 780px) {
    #page-container article.page-contact {
        section.content {
            background-image: none;
        }
    }
}

@media screen and #{breakpoint(small only)} {
    #page-container article.page-contact {
        section.content {
            ul.center {
                text-align: left;

                li.social-media {
                        padding-top: rem-calc(22pt);
                        @include grid-row(8);
                        @include grid-col-size(8);
                        @include grid-col-off(0);
                        a {
                            margin-left: 0;
                        }
                    }
            }
        }
    }
}