#page-container article header.main div.contact {
    @include grid-row(24);
    color: $white;
    > div {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        overflow: hidden;
        a {
            color: $white;
            span:after {
                border-color: $white;
            }
        }
        &.left {
            @include grid-row();
            @include grid-col-size(8);
            @include grid-col-off(3);
            font-size: rem-calc(28pt);
            line-height: rem-calc(38pt);
            font-weight: $semibold;
            p {
                padding: 0;
                margin: 0;
            }
        }
        &.right {
            @include grid-row(24);
            @include grid-col-size(8);
            @include grid-col-off(12);
            font-size: rem-calc(18pt);
            line-height: rem-calc(26pt);
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    padding-top: rem-calc(18pt);
                    &:first-child {
                        padding-top: 0;
                    }
                    &.expanded {
                        display: block;
                        &.indent {
                            padding-left: 5%;
                            padding-top: rem-calc(6pt);
                        }
                    }
                    &.condensed {
                        display: none;
                        padding-top: 0;
                        padding-left: 5%;
                        text-indent: -5%;
                        + li.condensed {
                            padding-top: rem-calc(16pt);
                        }
                    }
                    &.social-media {
                        padding-top: rem-calc(22pt);
                        @include grid-row(8);
                        @include grid-col-size(6);
                        @include grid-col-off(0);
                        a {
                            display: inline-block;
                            @include grid-col-size(2);
                            font-size: rem-calc(28pt);
                            text-decoration: none;
                            //text-align: center;
                        }
                    }
                }
            }
        }
        &.btn {
            @include grid-row(24);
            @include grid-col-size(1);
            @include grid-col-off(21);
            top: rem-calc(20pt);
            -webkit-transform: none;
            transform: none;
            text-align: left;
            i {
                font-size: rem-calc(36pt);
                display: inline-block; //translate doesn't work on inline elements
                cursor: pointer;
                transition: opacity .2s ease-out;
                will-change: opacity;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}
#page-container article.contact-open header.main div.contact > div {
    z-index: 6;
    pointer-events: all;
}

@media (min-height: 1px) and #{breakpoint(large up)} {

    #page-container article.contact-open header.main div.contact > div.btn {
        top: 40px;
    }

    #page-container article.menu-open.contact-open header.main div.contact > div.btn {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (min-height: 2px) and #{breakpoint(medium only)} {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                @include grid-row();
                @include grid-col-size(10);
                @include grid-col-off(2);
                top: 30%;
                font-size: rem-calc(24pt);
                line-height: rem-calc(30pt);
                text-align: right;
            }
            &.right {
                @include grid-row();
                @include grid-col-size(11);
                @include grid-col-off(12);
                top: 65%;
                font-size: rem-calc(18pt);
                line-height: rem-calc(22pt);
                ul {
                    li {
                        &.social-media {
                            padding-top: rem-calc(16pt);
                            @include grid-row(8);
                            @include grid-col-size(8);
                            @include grid-col-off(0);
                        }
                    }
                }
            }
            &.btn {
                @include grid-row(24);
                @include grid-col-size(2);
                @include grid-col-off(21);
                text-align: right;
            }
        }
    }
}

//covers iPhone6 plus landscape and tablets which fall in medium but texts come too near to eachother
@media (min-height: 3px) and #{breakpoint(medium only)} and (orientation: landscape) and (max-height: 700px)  {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                @include grid-row();
                @include grid-col-size(10);
                @include grid-col-off(1);
                top: 60%;
                text-align: left;
            }
            &.right {
                top: 60%;
                line-height: rem-calc(20pt);
                ul {
                    li {
                        &.social-media {
                            padding-top: rem-calc(8pt);
                        }
                        &.expanded {
                            display: none;
                        }
                        &.condensed {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media (min-height: 3.2px) and #{breakpoint(medium only)} and (orientation: landscape) and (max-height: 400px)  {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                display: none;
            }
            &.right {
                @include grid-row();
                @include grid-col-size(20);
                @include grid-col-off(1);
                top: 62%;
            }
        }
    }
}

@media (min-height: 3.5px) and #{breakpoint(medium only)} and (orientation: portrait) and (max-height: 900px)  {
    #page-container article header.main div.contact {
        > div {
            &.left {
                top: 25%;
            }
            &.right {
                top: 67%;
            }
        }
    }
}

@media (min-height: 4px) and #{breakpoint(small only)} and (orientation: portrait) {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                @include grid-row();
                @include grid-col-size(22);
                @include grid-col-off(1);
                top: 30%;
                font-size: rem-calc(22pt);
                line-height: rem-calc(28pt);
            }
            &.right {
                @include grid-row();
                @include grid-col-size(22);
                @include grid-col-off(1);
                top: 70%;
                font-size: rem-calc(16pt);
                line-height: rem-calc(20pt);
                ul {
                    li {
                        &.social-media {
                            padding-top: rem-calc(16pt);
                            @include grid-row(8);
                            @include grid-col-size(8);
                            @include grid-col-off(0);
                            a {
                                display: inline-block;
                                @include grid-col-size(2);
                                font-size: rem-calc(28pt);
                            }
                        }
                    }
                }
            }
            &.btn {
                @include grid-row(24);
                @include grid-col-size(4);
                @include grid-col-off(19);
                text-align: right;
            }
        }
    }
}

@media (min-height: 5px) and (min-width: 0px) and (max-width: 350px) and (orientation: portrait) {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                @include grid-row();
                @include grid-col-size(22);
                @include grid-col-off(1);
                top: 30%;
                font-size: rem-calc(20pt);
                line-height: rem-calc(24pt);
            }
            &.right {
                @include grid-row();
                @include grid-col-size(20);
                @include grid-col-off(1);
                top: 70%;
                font-size: rem-calc(14pt);
                line-height: rem-calc(18pt);
            }
            &.btn {
                @include grid-row(24);
                @include grid-col-size(4);
                @include grid-col-off(19);
                text-align: right;
            }
        }
    }
}

@media (min-height: 5.5px) and (min-width: 0px) and (max-width: 376px) and (max-height: 560px) and (orientation: portrait) {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                display: none;
            }
            &.right {
                top: 55%;
                ul {
                    li {
                        padding-top: rem-calc(14pt);
                        &:first-child {
                            padding-top: 0;
                        }
                        &.expanded {
                            &.indent {
                                padding-top: rem-calc(6pt);
                            }
                        }
                        &.social-media {
                            padding-top: rem-calc(20pt);
                        }
                    }
                }
            }
        }
    }
}

@media (min-height: 6px) and #{breakpoint(small only)} and (orientation: landscape) {
    #page-container article header.main div.contact {
        @include grid-row(24);
        > div {
            &.left {
                display: none;
            }
            &.right {
                @include grid-row();
                @include grid-col-size(20);
                @include grid-col-off(1);
                top: 62%;
                font-size: rem-calc(14pt);
                line-height: rem-calc(18pt);
                ul {
                    li {
                        &.expanded {
                            display: none;
                        }
                        &.condensed {
                            display: block;
                        }
                    }
                }
            }
            &.btn {
                @include grid-row(24);
                @include grid-col-size(4);
                @include grid-col-off(19);
                text-align: right;
            }
        }
    }
}
