#page-container article.page-contact {
    section.content {
        background: transparent url(../img/photos/map.jpg) right center no-repeat;
        .bold {
            font-weight: $semibold;
        }
        ul {
            li {
                &.social-media {
                        padding-top: rem-calc(22pt);
                        a {
                            display: inline-block;
                            font-size: rem-calc(28pt);
                            margin: 0 20px;

                            &:first-child {
                                margin-left: 0;
                            }

                            &.linkedin:hover { color: #0077B5; }
                            &.facebook:hover { color: #3b5998; }
                            &.twitter:hover { color: #1DA1F2; }
                            &.medium:hover { color: #00AB6C; }
                        }
                    }
            }

            &.center {
                text-align: center;
            }
        }
    }
    .columns {
        overflow: hidden;
    }
}

@media screen and #{breakpoint(small only)} {
    #page-container article.page-contact {
        section.content {
            ul.center {
                text-align: left;

                li.social-media {
                        padding-top: rem-calc(22pt);
                        @include grid-row(8);
                        @include grid-col-size(8);
                        @include grid-col-off(0);
                        a {
                            margin-left: 0;
                        }
                    }
            }
        }
    }
}