#page-container {
    & > article {
        & > footer {
            font-size: rem-calc(12pt);
            color: $white;
            background: $text-color;
            padding: 0;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            ul {
                list-style-type: none;
                padding: rem-calc(12pt 0 10pt);
                margin-bottom: 0;
                li {
                    padding: 0;
                    margin-right: 15px;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        opacity: .8;
                        transition: opacity .2s ease-in;
                        will-change: opacity;
                        &:visited,
                        &:link,
                        &:hover {
                            text-decoration: none;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                    i {
                        font-size: 30px;
                        color: $white;
                    }
                }
            }
            .copy a {
                display: inline-block;
                padding: 7px 15px 8px;
                margin-left: 7px;
                color: $white;
                vertical-align: middle;
                background: $white linear-gradient(45deg, #d6cb26 0%, #68bc45 100%);
                span:after {
                    border-color: $white;
                }
                &.disable {
                    display: none;
                }
            }
        }
    }
}

#page-container > article {
    &.page-about > footer .copy a {
        background: $white linear-gradient(45deg, #d6cb26 0%, #68bc45 100%);
    }
    &.page-expertise > footer .copy a {
        background: $white linear-gradient(45deg, #68bc45 0%, #1895a3 100%);
    }
    &.page-portfolio > footer .copy a {
        background: $white linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
    }
    &.page-portfolio-details,
    &.page-career-details {
        & > footer .copy a {
            background: $white linear-gradient(45deg, #c80786 0%, #ed2f2e 100%);
        }
    }

    &.page-contact > footer .copy a {
        background: $white linear-gradient(45deg, #4f2063 0%, #c80786 100%);
    }
}

@media screen and #{breakpoint(medium down)} {
    #page-container {
        & > article {
            & > footer {
                ul {
                    li {
                        padding: 0;
                        margin-right: 0;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media screen and #{breakpoint(small only)} {
    #page-container {
        & > article {
            & > footer {
                font-size: rem-calc(10pt);
                padding: 0 0 15px 0;
                .copy {
                    text-align: center;
                }
                ul {
                    li {
                        padding: 0;
                        margin-right: 0;
                        display: inline-block;
                        i {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}
