#page-container article 
{
	@include grid-row(24);
    
    header.main {
        position: relative;
        width: 100%;
        height: 400px;
        //transform: translate(0, 0); 
        
        h1, h2 {
            display: inline-block;
            margin: 0;
        }
        
        .image {
            position: relative;
            z-index: 1;
            @include grid-col-size(24);
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            
            .img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: cover;
                background-position: center;
            } 
        }
        
        .gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0.8;
        }
        
        .text {
            @include grid-column-size(9);
            @include grid-column-offset(3);
            position: absolute;
            bottom: rem-calc(50pt);
            z-index: 3;
            overflow: hidden;
            color: $white;
            text-align: left;
        }    
    }  
    
    &.page-home header.main {
        position: fixed;
        z-index: 4;
        height: 80px;
    }
    
    &.page-about header.main {
        background: linear-gradient(45deg, #d6cb26 0%, #68bc45 100%);
        .gradient {
            background: linear-gradient(45deg, #d6cb26 0%, #68bc45 100%);
        }
        
        .image {
            @include grid-column-size(12);
            @include grid-column-offset(12);
            
            .img {
                background-image: url(../img/photos/temp1.jpg);
            }
        }
    }
    
    &.page-expertise header.main {
        background: linear-gradient(45deg, #68bc45 0%, #1895a3 100%);
        .gradient {
            background: linear-gradient(45deg, #68bc45 0%, #1895a3 100%);
        }
        
        .image {
            @include grid-column-size(18);
            
            .img {
                background-image: url(../img/photos/temp2.jpg);
            }
        }
    }
    &.page-portfolio header.main {
        background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
        .gradient {
            background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
        }
        
        .image {
            .img {
                background-image: url(../img/photos/temp3.jpg);
            }
        }
    }
    
    &.page-portfolio-details header.main {
        background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
        .gradient {
            background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
        }
        
        .image {
            .img {
                background-image: url(../img/photos/temp1.jpg);
            }
        }
    }
    
    &.page-careers header.main {
        background: linear-gradient(45deg, #4f2063 0%, #c80786 100%);
        .gradient {
            background: linear-gradient(45deg, #4f2063 0%, #c80786 100%);
        }
        
        .image {
            @include grid-column-size(18);
            @include grid-column-offset(6);
            
            .img {
                background-image: url(../img/photos/temp5.jpg);
            }
        }
    }

    &.page-career-details header.main {
        background: linear-gradient(45deg, #4f2063 0%, #c80786 100%);
        .gradient {
            background: linear-gradient(45deg, #4f2063 0%, #c80786 100%);
        }
        
        .image {
            @include grid-column-size(18);
            @include grid-column-offset(6);
        }
    }
    
    // &.page-contact header.main {
    //     background: linear-gradient(45deg, rgba(200,7,134,1) 0%, rgba(237,47,46,1) 100%);
    //     .gradient {
    //         background: linear-gradient(45deg, rgba(200,7,134,1) 0%, rgba(237,47,46,1) 100%);
    //     }
    // }
    
    .logo {
        padding: rem-calc(40pt) 0 0;
        position: fixed;
        top: 0;
        z-index: 3;
        
        @include grid-column;
        @include grid-col-size(3);
        @include grid-col-off(3);
        @include grid-col-collapse;
        @include breakpoint(medium up) {
            @include grid-col-collapse;
            svg {
                margin-left: -40px;
            }
        }
    }
    
    nav {
        position: fixed;
        top: 0;
        z-index: 3;
        @include grid-column;
        @include grid-col-size(15);
        @include grid-col-off(9);
        @include grid-col-collapse;
        @include breakpoint(medium up) {
            @include grid-col-collapse;
        }
        
        ul {
            @include grid-row($columns: 5);
            padding: 0;
            margin: 0;
            list-style-type: none;
            
            li {
                overflow: hidden;
                @include grid-column(1);
                @include grid-col-collapse;
                @include breakpoint(medium up) {
                    @include grid-col-collapse;
                }
            
                a {
                    color: $white;
                    transition: padding-left 0.3s cubic-bezier(0.500, 0.000, 0.000, 0.500);
                    display: block;
                    position: relative;
                    font-size: rem-calc(14pt);
                    line-height: rem-calc(20pt);
                    font-weight: $semibold;
                    padding: rem-calc(46pt 0 10pt);
                    
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 0;
                        background: $white;
                        transition: height .35s ease-out;                        
                    }
                    
                    &:hover,
                    &.hover {
                        padding-left: rem-calc(10pt);
                        
                        &:before {
                            height: rem-calc(62pt);
                        }
                    }
                    
                    &.hover:before {
                        height: 0;
                        transition: none;                        
                    }
                    
                    &.line.hover:before {
                        height: rem-calc(62pt);
                    }
                }
            }
        }
    }
}
