/*header.main-header {
    padding: 8px 10px;
    border-bottom: 1px solid $palette-1;
    background: $palette-5;
    
    .logo {
        display: inline-block;
        margin: 0 10px 0 0; //don't set only margin-left as this also resets margin-bottom;
    }
    
    nav {
        display: inline-block;
        
        ul {
            &, & li {
                display: inline-block;
                list-style: none;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            
            li {
                padding: 0 10px;
                
                a.active {
                    color: $palette-1;
                    font-weight: bold;
                }
            }
        }
    }
    
    .language-picker {
        float: right;
        margin-left: 10px;
    }
}*/

header.top {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
	@include grid-row($width: 100%);
	
    .logo {
        padding: rem-calc(46) 0 0;
        
        @include grid-column;
        @include grid-col-size(3);
        @include grid-col-off(3);
        @include grid-col-collapse;
        @include breakpoint(medium up) {
            @include grid-col-collapse;
            svg {
                margin-left: rem-calc(-40);
            }
        }
    }
	
    nav {
        @include grid-column;
        @include grid-col-size(15);
        @include grid-col-collapse;
        @include breakpoint(medium up) {
            @include grid-col-collapse;
        }
        
        ul {
            @include grid-row($columns: 5);
            padding: 0;
            margin: 0;
            list-style-type: none;
            
            li {
                overflow: hidden;
                @include grid-column(1);
                @include grid-col-collapse;
                @include breakpoint(medium up) {
                    @include grid-col-collapse;
                }
            
                a {
                    color: $white;
                    transition: padding-left 0.3s cubic-bezier(0.500, 0.000, 0.000, 0.500);
                    display: block;
                    font-weight: 500;
                    padding: rem-calc(46) 0 rem-calc(23);
                    
                    &:hover,
                    &.hover,
                    &.loading {
                        padding-left: rem-calc(map-get($grid-column-gutter, medium) / 2);
                    }
                }
            
                // &.burger {
                //     @include hamburger($white, $white, 20px, 15px, 2px);
                // }
            }
        }
	}
}