header.top {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 101;
	@include grid-row($width: 100%);
	
    .logo {
        padding: rem-calc(40pt) 0 0;
        
        @include grid-column;
        @include grid-col-size(3);
        @include grid-col-off(3);
        @include grid-col-collapse;
        @include breakpoint(medium up) {
            @include grid-col-collapse;
            svg {
                margin-left: -40px;
            }
        }
    }
	
    nav {
        @include grid-column;
        @include grid-col-size(15);
        @include grid-col-collapse;
        @include breakpoint(medium up) {
            @include grid-col-collapse;
        }
        
        ul {
            @include grid-row($columns: 5);
            padding: 0;
            margin: 0;
            list-style-type: none;
            
            li {
                overflow: hidden;
                @include grid-column(1);
                @include grid-col-collapse;
                @include breakpoint(medium up) {
                    @include grid-col-collapse;
                }
            
                a {
                    color: $white;
                    transition: padding-left 0.3s cubic-bezier(0.500, 0.000, 0.000, 0.500);
                    display: block;
                    position: relative;
                    font-size: rem-calc(14pt);
                    line-height: rem-calc(20pt);
                    font-weight: $semibold;
                    padding: rem-calc(40pt 0 10pt);
                    
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 0;
                        background: $white;
                        transition: height .5s ease-out;                        
                    }
                    
                    &:hover,
                    &.hover {
                        padding-left: rem-calc(10pt);
                        
                        &:before {
                            height: rem-calc(55pt);
                        }
                    }
                }
            }
        }
	}
}