#page-container {
    article {
        width: 100%;
        height: 100%;
        z-index: 1;
        @include grid-row(24);
        
        &.overlap {
            position: absolute;
        }
        // &.detach-header {
        //     position: absolute;
        //     top: 0;
        //     padding-top: 400px;
        // }
        
        section.content {
            background: $body-background;
            min-height: 40%;
            padding-top: rem-calc(40pt);
            
            .spacer {
                clear: both;
                @include grid-column-size(24);
                
                &-100 {
                    height: rem-calc(100pt);
                }

                &-60 {
                    height: rem-calc(60pt);
                }

                &-40 {
                    height: rem-calc(40pt);
                }

                &-20 {
                    height: rem-calc(20pt);
                }
            }
            
            .image {
                &.light img {
                    opacity: .2;
                }
            }
            
            strong {
                font-weight: $semibold;
            }
        }
        
        section.call-to-action {
            .cta {
                font-size: rem-calc(30pt);
            }   
            .image {
                position: relative;
                 &:after {
                     content: '';
                     display: block;
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     opacity: .8;
                     background: linear-gradient(45deg, rgba(214,203,38,1) 0%, rgba(104,188,69,1) 100%);
                 }
            }
        }
    }
}