#page-container {
    article {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: translate(0, 0);
        
        header {
            position: relative;
            width: 100%;
            height: 60%;
            @include grid-row(24);
            transform: translate(0, 0); 
            
            h1, h2 {
                display: inline-block;
            }
            
            .image-container {
                position: relative;
                z-index: 1;
                @include grid-column-size(24);
                height: 100%;
                padding: 0;
                margin: 0;
                overflow: hidden;
                display: flex;
                justify-content: center; 
                align-items: center; 
            }
            
            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0.8;
            }
            
            .text-1 {
                @include grid-column-size(9);
                @include grid-column-offset(3);
                position: absolute;
                bottom: rem-calc(60pt);
                z-index: 3;
                overflow: hidden;
                color: $white;
                text-align: left;
            }
        }
        
        &.page-about header {
            background: linear-gradient(45deg, rgba(214,203,38,1) 0%, rgba(104,188,69,1) 100%);
            .gradient {
                background: linear-gradient(45deg, rgba(214,203,38,1) 0%, rgba(104,188,69,1) 100%);
            }
            
            .image-container {
                @include grid-column-size(12);
                @include grid-column-offset(12);
            }
        }
        
        &.page-expertise header {
            background: linear-gradient(45deg, rgba(104,188,69,1) 0%, rgba(24,149,163,1) 100%);
            .gradient {
                background: linear-gradient(45deg, rgba(104,188,69,1) 0%, rgba(24,149,163,1) 100%);
            }
            
            .image-container {
                @include grid-column-size(18);
            }
        }
        &.page-portfolio header {
            background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%);
            .gradient {
                background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%);
            }
        }
        
         &.page-portfolio-details header {
            background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%);
            .gradient {
                background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%);
            }
        }
        
        &.page-careers header {
            background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%);
            .gradient {
                background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%);
            }
            
            .image-container {
                @include grid-column-size(18);
                @include grid-column-offset(6);
            }
        }
        
        &.page-contact header {
            background: linear-gradient(45deg, rgba(200,7,134,1) 0%, rgba(237,47,46,1) 100%);
            .gradient {
                background: linear-gradient(45deg, rgba(200,7,134,1) 0%, rgba(237,47,46,1) 100%);
            }
        }
        
        section.content {
            background: $body-background;
            min-height: 40%;
            padding-top: rem-calc(40pt);
            
            .spacer {
                clear: both;
                @include grid-column-size(24);
                
                &-100 {
                    height: rem-calc(100pt);
                }
            }
            
            .image {
                &.light img {
                    opacity: .2;
                }
            }
            
            strong {
                color: rgba(104,188,69,1);
                font-weight: $semibold;
            }
        }
        
        section.call-to-action {
            .cta {
                font-size: rem-calc(30pt);
            }   
            .image {
                position: relative;
                 &:after {
                     content: '';
                     display: block;
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     opacity: .8;
                     background: linear-gradient(45deg, rgba(214,203,38,1) 0%, rgba(104,188,69,1) 100%);
                 }
            }
        }
    }
}

// section.page {
//     padding: 15px;
// }

// .barba-container{
//     height: 100%;
// }

// .page-container-adtb{
//       //position: fixed;
//     margin: auto;
//     top: 0px;
//     left: 0px;
//     // bottom: auto;
//     // right: auto;
//     bottom: 0;
//     right: 0;
//     box-sizing: border-box;
//     width: 100%;
//     height: 100%;
// }