@media screen and #{breakpoint(large)} {
    #page-container article.page-portfolio-details {
        section.content {
            h1 {
                font-family: "Poppins";
                font-weight: $semibold;
                font-size: rem-calc(26pt);
                line-height: rem-calc(36pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            h2 {
                font-family: "Poppins";
                font-weight: $semibold;
                font-size: rem-calc(24pt);
                line-height: rem-calc(34pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            h3 {
                font-family: "Poppins";
                font-weight: $normal;
                font-size: rem-calc(20pt);
                line-height: rem-calc(30pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            p {
                font-family: "Poppins";
                font-weight: $normal;
                color: $text-color;
                margin-bottom: 0px;
                font-size: rem-calc(16pt);
                line-height: rem-calc(24pt);
            }
            ul {
                font-family: "Poppins";
                font-weight: $normal;
                color: $text-color;
                margin-bottom: 0px;
                padding-left: rem-calc(20pt);
                li {
                    font-size: rem-calc(16pt);
                    line-height: rem-calc(24pt);
                }
            }
            .awards {
                .image-container {
                    display: inline-block;
                    height: 150px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &.award1 {
                        background-image: url("/client/dist/img/projects/safetybank/award1.jpg");
                    }
                    &.award2 {
                        background-image: url("/client/dist/img/projects/safetybank/award2.jpg");
                    }
                    &.award3 {
                        background-image: url("/client/dist/img/projects/safetybank/award3.jpg");
                    }
                    &.award4 {
                        background-image: url("/client/dist/img/projects/safetybank/award4.jpg");
                    }
                    &.award5 {
                        background-image: url("/client/dist/img/projects/safetybank/award5.jpg");
                    }
                }
            }
        }
        section.call-to-action {
            .image {
                &:after {
                    background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
                }
            }
        }
        .columns {
            overflow: hidden;
        }
        .block {
            display: inline-block;
        }
    }
}

@media screen and #{breakpoint(medium only)} {
    #page-container article.page-portfolio-details {
        section.content {
            h1 {
                font-family: "Poppins";
                font-weight: $semibold;
                font-size: rem-calc(18pt);
                line-height: rem-calc(26pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            h2 {
                font-family: "Poppins";
                font-weight: $semibold;
                font-size: rem-calc(16pt);
                line-height: rem-calc(26pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            h3 {
                font-family: "Poppins";
                font-weight: $normal;
                font-size: rem-calc(14pt);
                line-height: rem-calc(24pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            p {
                font-family: "Poppins";
                font-weight: $normal;
                color: $text-color;
                margin-bottom: 0px;
                font-size: rem-calc(14pt);
                line-height: rem-calc(22pt);
            }
            ul {
                font-family: "Poppins";
                font-weight: $normal;
                color: $text-color;
                margin-bottom: 0px;
                padding-left: rem-calc(20pt);
                li {
                    font-size: rem-calc(14pt);
                    line-height: rem-calc(24pt);
                }
            }
            .awards {
                .image-container {
                    display: inline-block;
                    height: 150px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &.award1 {
                        background-image: url("/client/dist/img/projects/safetybank/award1.jpg");
                    }
                    &.award2 {
                        background-image: url("/client/dist/img/projects/safetybank/award2.jpg");
                    }
                    &.award3 {
                        background-image: url("/client/dist/img/projects/safetybank/award3.jpg");
                    }
                    &.award4 {
                        background-image: url("/client/dist/img/projects/safetybank/award4.jpg");
                    }
                    &.award5 {
                        background-image: url("/client/dist/img/projects/safetybank/award5.jpg");
                    }
                }
            }
        }
        section.call-to-action {
            font-size: rem-calc(16pt);
            p {
                margin-bottom: 0.4rem;
            }
            .cta {
                font-size: rem-calc(30pt);
            }
            .image {
                &:after {
                    background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
                }
            }
        }
        .columns {
            overflow: hidden;
        }
        .block {
            display: inline-block;
        }
    }
}

@media screen and #{breakpoint(small only)} {
    #page-container article.page-portfolio-details {
        section.content {
            h1 {
                font-family: "Poppins";
                font-weight: $semibold;
                font-size: rem-calc(16pt);
                line-height: rem-calc(24pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            h2 {
                font-family: "Poppins";
                font-weight: $semibold;
                font-size: rem-calc(14pt);
                line-height: rem-calc(22pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            h3 {
                font-family: "Poppins";
                font-weight: $normal;
                font-size: rem-calc(12pt);
                line-height: rem-calc(20pt);
                color: $text-color;
                margin-bottom: 0px;
            }
            p {
                font-family: "Poppins";
                font-weight: $normal;
                color: $text-color;
                margin-bottom: 0px;
                font-size: rem-calc(14pt);
                line-height: rem-calc(22pt);
            }
            ul {
                font-family: "Poppins";
                font-weight: $normal;
                color: $text-color;
                margin-bottom: 0px;
                padding-left: rem-calc(20pt);
                li {
                    font-size: rem-calc(12pt);
                    line-height: rem-calc(20pt);
                }
            }
            .awards {
                .image-container {
                    display: inline-block;
                    height: 100px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;
                    &.award1 {
                        background-image: url("/client/dist/img/projects/safetybank/award1.jpg");
                    }
                    &.award2 {
                        background-image: url("/client/dist/img/projects/safetybank/award2.jpg");
                    }
                    &.award3 {
                        background-image: url("/client/dist/img/projects/safetybank/award3.jpg");
                    }
                    &.award4 {
                        background-image: url("/client/dist/img/projects/safetybank/award4.jpg");
                    }
                    &.award5 {
                        background-image: url("/client/dist/img/projects/safetybank/award5.jpg");
                    }
                }
            }
        }
        section.call-to-action {
            .small-text-case {
                color: #fff;
                position: absolute;
                top: 50%;
                height: 80px;
                margin-top: -40px;
                left: 0;
                display: inline-block;
                z-index: 100000;
                font-weight: $semibold;
                font-size: rem-calc(12pt);
                p {
                    color: #fff;
                    &:first-child {
                        font-size: rem-calc(10pt);
                        opacity: 0.8;
                        margin-bottom: 0;
                    }
                    &:last-child {
                        font-size: rem-calc(22pt);
                    }
                }
                a {
                    font-size: rem-calc(22pt);
                    color: #fff;
                }
            }
            .image {
                &:after {
                    background: linear-gradient(45deg, #1895a3 0%, #4f2063 100%);
                }
            }
        }
        .columns {
            overflow: hidden;
        }
        .block {
            display: inline-block;
        }
    }
}
