#page-container article.page-portfolio {
    section.content {
    	 h1 {
            font-family: "Poppins";
            font-weight: $semibold;
            font-size: rem-calc(26pt);
            line-height: rem-calc(36pt);
            color: $text-color;
            margin-bottom: 0px;
        }
         p {
            font-family: "Poppins";
            font-weight: $normal;
            color: $text-color;
            margin-bottom: 0px;
            font-size: rem-calc(16pt);
            line-height: rem-calc(24pt);
        }
    }


    .columns{
        overflow: hidden;

    }
}
