  .page-portfolio-details{
      
       .project-awards img{
               width: 80%;
               margin-bottom: 25px;
       }
      
      section.call-to-action .image {
          &:after {
              background: linear-gradient(45deg, rgba(24,149,163,1) 0%, rgba(200,7,134,1) 100%) !important;
              }
      }
}
  